html {
    padding: 0;
    margin: 0;
} 

body {
    padding: 0px;
    margin: 8px;
    background-color: #444;
}

.blind-view,
.blind-text-input {
    color: #eee;
    font-family: Inconsolata, monospace;

    background-color: #222;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px;
}

.blind-text-input .input-line {
    color: inherit;
    font: inherit;
    
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;

    position: relative;
    height: 100%;
    width: 100%;
    -top: -1px;
}

.blind-view .ouput-view {
    color: #8cf;
}