html {
    padding: 0;
    margin: 0;
} 

body {
    padding: 0px;
    margin: 8px;
    background-color: #444;
}

.blind-view,
.blind-text-input {
    color: #eee;
    font-family: Inconsolata, monospace;

    background-color: #222;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px;
}

.blind-text-input .input-line {
    color: inherit;
    font: inherit;
    
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;

    position: relative;
    height: 100%;
    width: 100%;
}

.blind-text-input .hist-fwd,
.blind-text-input .hist-back,
.blind-text-input .auto-complete {
	color: inherit;
	background: inherit;
	border: inherit;
	font: inherit;
	height: 100%;
	width: 40px;
	text-align: center;
	position: absolute;
}
.blind-text-input .hist-fwd {
	bottom:100%;
	right: 0%;
}
.blind-text-input .hist-back {
	bottom:200%;
	right: 0%;
}
.blind-text-input .auto-complete {
	bottom:100%;
	left: 0%;
}

.blind-view {
    overflow: hidden;
}

.blind-view .output-view {
    height: 100%;
    width: 100%;
    color: #8cf;
    padding-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blind-view .output-view pre {
    font-family: Inconsolata, monospace;
    margin: 0;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.blind-view .output-view pre:hover {
    background: #468
}


.error {
    color: #f68;
}
.warning {
    color: #fc6;
}
.special {
    color: #af6;
}